Code: Use Pandas to read the CSV file and store them in a DataFrame object named badminton2.
Next, it will display the data frame.

In [1]:
import pandas as pd
badminton2 = pd.read_csv('badmintondata2.csv', header='infer')

badminton2

,HUMAN PLAYER POSITION (X) metres,HUMAN PLAYER POSITION (Y) metres,INITITAL VELOCITY OF SHUTTELCOCK(m/s),INITIAL SHUTTELCOCK FIRING ANGLE (DEGREE),SHUTTELCOCK SLANT ANGLE TO SIDELINE(DEGREE),SHUTTLECOCK POSITIION IN AIR(X ) metres,SHUTTLECOCK POSITIION IN AIR(Y) metres,SHUTTLECOCK POSITIION IN AIR(Z) metres
0,4,1,10,40,-50,4.076522,0.908805,2.662589
1,4,1,10,40,-50,4.151082,0.819947,2.725236
2,4,1,10,40,-50,4.227713,0.728623,2.786250
3,4,1,10,40,-50,4.303163,0.638705,2.845674
4,4,1,10,40,-50,4.376557,0.551237,2.904019
...,...,...,...,...,...,...,...,...
242395,0,0,0,0,0,0.000000,0.000000,0.000000
242396,0,0,0,0,0,0.000000,0.000000,0.000000
242397,0,0,0,0,0,0.000000,0.000000,0.000000
242398,0,0,0,0,0,0.000000,0.000000,0.000000
242399,0,0,0,0,0,0.000000,0.000000,0.000000

Check Data Types

In [2]:
badminton2.dtypes

HUMAN PLAYER POSITION (X) metres                 int64
HUMAN PLAYER POSITION (Y) metres                 int64
INITITAL VELOCITY OF SHUTTELCOCK(m/s)            int64
INITIAL SHUTTELCOCK FIRING ANGLE (DEGREE)        int64
SHUTTELCOCK SLANT ANGLE TO SIDELINE(DEGREE)      int64
SHUTTLECOCK POSITIION IN AIR(X ) metres        float64
SHUTTLECOCK POSITIION IN AIR(Y) metres         float64
SHUTTLECOCK POSITIION IN AIR(Z) metres         float64
dtype: object

Identify if there is any Missing Data in the attributes

In [3]:
print(badminton2.isnull().sum())

HUMAN PLAYER POSITION (X) metres               0
HUMAN PLAYER POSITION (Y) metres               0
INITITAL VELOCITY OF SHUTTELCOCK(m/s)          0
INITIAL SHUTTELCOCK FIRING ANGLE (DEGREE)      0
SHUTTELCOCK SLANT ANGLE TO SIDELINE(DEGREE)    0
SHUTTLECOCK POSITIION IN AIR(X ) metres        0
SHUTTLECOCK POSITIION IN AIR(Y) metres         0
SHUTTLECOCK POSITIION IN AIR(Z) metres         0
dtype: int64

Initialize SHOT ID to each group

In [4]:
import pandas as pd
import numpy as np

# Create boolean mask if all row values are 0
mask = (badminton2 == 0).all(axis=1)

# Identify where the 'all zeros' condition changes
changes = mask.ne(mask.shift())

# Cumulatively sum these changes, assign SHOT_ID to each group
badminton2['SHOT_ID'] = changes.cumsum()

# For 'all zero' rows, assign SHOT_ID as 0
badminton2.loc[mask, 'SHOT_ID'] = 0

Identify Duplicate Data

In [5]:
# Check whether each row is a duplicate of a previous row in the table
dups = badminton2.duplicated()
dups

0         False
1         False
2         False
3         False
4         False
          ...
242395     True
242396     True
242397     True
242398     True
242399     True
Length: 242400, dtype: bool

In [6]:
duplicate = badminton2[badminton2.duplicated()]
duplicate

,HUMAN PLAYER POSITION (X) metres,HUMAN PLAYER POSITION (Y) metres,INITITAL VELOCITY OF SHUTTELCOCK(m/s),INITIAL SHUTTELCOCK FIRING ANGLE (DEGREE),SHUTTELCOCK SLANT ANGLE TO SIDELINE(DEGREE),SHUTTLECOCK POSITIION IN AIR(X ) metres,SHUTTLECOCK POSITIION IN AIR(Y) metres,SHUTTLECOCK POSITIION IN AIR(Z) metres,SHOT_ID
129,0,0,0,0,0,0.0,0.0,0.0,0
130,0,0,0,0,0,0.0,0.0,0.0,0
131,0,0,0,0,0,0.0,0.0,0.0,0
132,0,0,0,0,0,0.0,0.0,0.0,0
133,0,0,0,0,0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...
242395,0,0,0,0,0,0.0,0.0,0.0,0
242396,0,0,0,0,0,0.0,0.0,0.0,0
242397,0,0,0,0,0,0.0,0.0,0.0,0
242398,0,0,0,0,0,0.0,0.0,0.0,0
242399,0,0,0,0,0,0.0,0.0,0.0,0

The results suggest there are 112715 duplicate rows in the dataset.

In [7]:
# Drop duplicate data
print('Number of rows before discarding duplicates = %d' % (badminton2.shape[0]))
data2 = badminton2.drop_duplicates()
print('Number of rows after discarding duplicates = %d' % (data2.shape[0]))

Number of rows before discarding duplicates = 242400
Number of rows after discarding duplicates = 129685

Remove rows that are all zeros

In [8]:
data2 = data2.loc[~(data2==0).all(axis=1)]

data2

,HUMAN PLAYER POSITION (X) metres,HUMAN PLAYER POSITION (Y) metres,INITITAL VELOCITY OF SHUTTELCOCK(m/s),INITIAL SHUTTELCOCK FIRING ANGLE (DEGREE),SHUTTELCOCK SLANT ANGLE TO SIDELINE(DEGREE),SHUTTLECOCK POSITIION IN AIR(X ) metres,SHUTTLECOCK POSITIION IN AIR(Y) metres,SHUTTLECOCK POSITIION IN AIR(Z) metres,SHOT_ID
0,4,1,10,40,-50,4.076522,0.908805,2.662589,1
1,4,1,10,40,-50,4.151082,0.819947,2.725236,1
2,4,1,10,40,-50,4.227713,0.728623,2.786250,1
3,4,1,10,40,-50,4.303163,0.638705,2.845674,1
4,4,1,10,40,-50,4.376557,0.551237,2.904019,1
...,...,...,...,...,...,...,...,...,...
242235,4,4,70,70,50,9.276323,10.288077,3.041504,2423
242236,4,4,70,70,50,9.326762,10.348188,2.466079,2423
242237,4,4,70,70,50,9.373273,10.403617,1.861569,2423
242238,4,4,70,70,50,9.414002,10.452156,1.230060,2423
242239,4,4,70,70,50,9.447133,10.491641,0.572602,2423

Remove abnormal values (Value is Negative or Value = 0)

In [9]:
data2 = data2[(data2[data2.columns] > 0).all(axis=1)]

data2

,HUMAN PLAYER POSITION (X) metres,HUMAN PLAYER POSITION (Y) metres,INITITAL VELOCITY OF SHUTTELCOCK(m/s),INITIAL SHUTTELCOCK FIRING ANGLE (DEGREE),SHUTTELCOCK SLANT ANGLE TO SIDELINE(DEGREE),SHUTTLECOCK POSITIION IN AIR(X ) metres,SHUTTLECOCK POSITIION IN AIR(Y) metres,SHUTTLECOCK POSITIION IN AIR(Z) metres,SHOT_ID
10200,4,1,10,40,1,4.076937,1.001343,2.662080,103
10201,4,1,10,40,1,4.150607,1.002629,2.725872,103
10202,4,1,10,40,1,4.227416,1.003970,2.787845,103
10203,4,1,10,40,1,4.300908,1.005252,2.846121,103
10204,4,1,10,40,1,4.376173,1.006566,2.905997,103
...,...,...,...,...,...,...,...,...,...
242235,4,4,70,70,50,9.276323,10.288077,3.041504,2423
242236,4,4,70,70,50,9.326762,10.348188,2.466079,2423
242237,4,4,70,70,50,9.373273,10.403617,1.861569,2423
242238,4,4,70,70,50,9.414002,10.452156,1.230060,2423
242239,4,4,70,70,50,9.447133,10.491641,0.572602,2423

Re-number SHOT_ID after removed abnormal data rows

In [10]:
# Create a sorted list of unique shotIds
unique_shotIds = sorted(data2['SHOT_ID'].unique())

# Create a dictionary mapping old shotIds to new ones
map_dict = {old_id: new_id for new_id, old_id in enumerate(unique_shotIds, start=1)}

# Replace old shotIds with new ones
data2.loc[:, 'SHOT_ID'] = data2['SHOT_ID'].replace(map_dict)

# Reorder columns
data2 = data2[['SHOT_ID', 'HUMAN PLAYER POSITION (X) metres', 'HUMAN PLAYER POSITION (Y) metres',
         'INITITAL VELOCITY OF SHUTTELCOCK(m/s)', 'INITIAL SHUTTELCOCK FIRING ANGLE (DEGREE)',
         'SHUTTELCOCK SLANT ANGLE TO SIDELINE(DEGREE)', 'SHUTTLECOCK POSITIION IN AIR(X ) metres',
         'SHUTTLECOCK POSITIION IN AIR(Y) metres', 'SHUTTLECOCK POSITIION IN AIR(Z) metres']]

data2

C:\Users\xunth\AppData\Local\Temp\ipykernel_24424\4209660585.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data2.loc[:, 'SHOT_ID'] = data2['SHOT_ID'].replace(map_dict)

,SHOT_ID,HUMAN PLAYER POSITION (X) metres,HUMAN PLAYER POSITION (Y) metres,INITITAL VELOCITY OF SHUTTELCOCK(m/s),INITIAL SHUTTELCOCK FIRING ANGLE (DEGREE),SHUTTELCOCK SLANT ANGLE TO SIDELINE(DEGREE),SHUTTLECOCK POSITIION IN AIR(X ) metres,SHUTTLECOCK POSITIION IN AIR(Y) metres,SHUTTLECOCK POSITIION IN AIR(Z) metres
10200,1,4,1,10,40,1,4.076937,1.001343,2.662080
10201,1,4,1,10,40,1,4.150607,1.002629,2.725872
10202,1,4,1,10,40,1,4.227416,1.003970,2.787845
10203,1,4,1,10,40,1,4.300908,1.005252,2.846121
10204,1,4,1,10,40,1,4.376173,1.006566,2.905997
...,...,...,...,...,...,...,...,...,...
242235,600,4,4,70,70,50,9.276323,10.288077,3.041504
242236,600,4,4,70,70,50,9.326762,10.348188,2.466079
242237,600,4,4,70,70,50,9.373273,10.403617,1.861569
242238,600,4,4,70,70,50,9.414002,10.452156,1.230060
242239,600,4,4,70,70,50,9.447133,10.491641,0.572602

Check data that is served out of court

In [11]:
# Define court dimensions
court_length = 13.4  # in metres
court_width = 5.18  # in metres

# Initialize 'OUT_OF_COURT_SHOTS' column
data2 = data2.assign(OUT_OF_COURT_SHOTS = np.nan)

# Assign values to 'OUT_OF_COURT_SHOTS' column
data2['OUT_OF_COURT_SHOTS'] = np.where((data2['SHUTTLECOCK POSITIION IN AIR(X ) metres'] > court_length) | 
                                     (data2['SHUTTLECOCK POSITIION IN AIR(Y) metres'] > court_width), 0, 1)

# Count the number of 'IN' and 'OUT' rows
in_court = data2['OUT_OF_COURT_SHOTS'].sum()
out_of_court = data2.shape[0] - in_court

print(f"Number of 'IN' rows: {in_court}")
print(f"Number of 'OUT' rows: {out_of_court}")
data2

Number of 'IN' rows: 46950
Number of 'OUT' rows: 17250

,SHOT_ID,HUMAN PLAYER POSITION (X) metres,HUMAN PLAYER POSITION (Y) metres,INITITAL VELOCITY OF SHUTTELCOCK(m/s),INITIAL SHUTTELCOCK FIRING ANGLE (DEGREE),SHUTTELCOCK SLANT ANGLE TO SIDELINE(DEGREE),SHUTTLECOCK POSITIION IN AIR(X ) metres,SHUTTLECOCK POSITIION IN AIR(Y) metres,SHUTTLECOCK POSITIION IN AIR(Z) metres,OUT_OF_COURT_SHOTS
10200,1,4,1,10,40,1,4.076937,1.001343,2.662080,1
10201,1,4,1,10,40,1,4.150607,1.002629,2.725872,1
10202,1,4,1,10,40,1,4.227416,1.003970,2.787845,1
10203,1,4,1,10,40,1,4.300908,1.005252,2.846121,1
10204,1,4,1,10,40,1,4.376173,1.006566,2.905997,1
...,...,...,...,...,...,...,...,...,...,...
242235,600,4,4,70,70,50,9.276323,10.288077,3.041504,0
242236,600,4,4,70,70,50,9.326762,10.348188,2.466079,0
242237,600,4,4,70,70,50,9.373273,10.403617,1.861569,0
242238,600,4,4,70,70,50,9.414002,10.452156,1.230060,0
242239,600,4,4,70,70,50,9.447133,10.491641,0.572602,0

In [12]:
data2.to_csv("badmintondata2_cleaned_data.csv", index=False)