Code: Use Pandas to read the CSV file and store them in a DataFrame object named badminton2.
Next, it will display the data frame.

In [16]:
import pandas as pd
badminton2 = pd.read_csv('badmintondata2.csv', header='infer')

badminton2

,HUMAN PLAYER POSITION (X) metres,HUMAN PLAYER POSITION (Y) metres,INITITAL VELOCITY OF SHUTTELCOCK(m/s),INITIAL SHUTTELCOCK FIRING ANGLE (DEGREE),SHUTTELCOCK SLANT ANGLE TO SIDELINE(DEGREE),SHUTTLECOCK POSITIION IN AIR(X ) metres,SHUTTLECOCK POSITIION IN AIR(Y) metres,SHUTTLECOCK POSITIION IN AIR(Z) metres
0,4,1,10,40,-50,4.076522,0.908805,2.662589
1,4,1,10,40,-50,4.151082,0.819947,2.725236
2,4,1,10,40,-50,4.227713,0.728623,2.786250
3,4,1,10,40,-50,4.303163,0.638705,2.845674
4,4,1,10,40,-50,4.376557,0.551237,2.904019
...,...,...,...,...,...,...,...,...
242395,0,0,0,0,0,0.000000,0.000000,0.000000
242396,0,0,0,0,0,0.000000,0.000000,0.000000
242397,0,0,0,0,0,0.000000,0.000000,0.000000
242398,0,0,0,0,0,0.000000,0.000000,0.000000
242399,0,0,0,0,0,0.000000,0.000000,0.000000

Check Data Types

In [17]:
badminton2.dtypes

HUMAN PLAYER POSITION (X) metres                 int64
HUMAN PLAYER POSITION (Y) metres                 int64
INITITAL VELOCITY OF SHUTTELCOCK(m/s)            int64
INITIAL SHUTTELCOCK FIRING ANGLE (DEGREE)        int64
SHUTTELCOCK SLANT ANGLE TO SIDELINE(DEGREE)      int64
SHUTTLECOCK POSITIION IN AIR(X ) metres        float64
SHUTTLECOCK POSITIION IN AIR(Y) metres         float64
SHUTTLECOCK POSITIION IN AIR(Z) metres         float64
dtype: object

Identify if there is any Missing Data in the attributes

In [18]:
print(badminton2.isnull().sum())

HUMAN PLAYER POSITION (X) metres               0
HUMAN PLAYER POSITION (Y) metres               0
INITITAL VELOCITY OF SHUTTELCOCK(m/s)          0
INITIAL SHUTTELCOCK FIRING ANGLE (DEGREE)      0
SHUTTELCOCK SLANT ANGLE TO SIDELINE(DEGREE)    0
SHUTTLECOCK POSITIION IN AIR(X ) metres        0
SHUTTLECOCK POSITIION IN AIR(Y) metres         0
SHUTTLECOCK POSITIION IN AIR(Z) metres         0
dtype: int64

Initialize SHOT ID to each group

In [19]:
# Create boolean mask if all row values are 0
mask = (badminton2 == 0).all(axis=1)

# Identify where the 'all zeros' condition changes
changes = mask.ne(mask.shift())

# Cumulatively sum these changes, assign SHOT_ID to each group
badminton2['SHOT_ID'] = changes.cumsum()

# For 'all zero' rows, assign SHOT_ID as 0
badminton2.loc[mask, 'SHOT_ID'] = 0

Identify Duplicate Data

In [20]:
# Check whether each row is a duplicate of a previous row in the table
dups = badminton2.duplicated()

dups

0         False
1         False
2         False
3         False
4         False
          ...
242395     True
242396     True
242397     True
242398     True
242399     True
Length: 242400, dtype: bool

In [21]:
duplicate = badminton2[badminton2.duplicated()]

duplicate

,HUMAN PLAYER POSITION (X) metres,HUMAN PLAYER POSITION (Y) metres,INITITAL VELOCITY OF SHUTTELCOCK(m/s),INITIAL SHUTTELCOCK FIRING ANGLE (DEGREE),SHUTTELCOCK SLANT ANGLE TO SIDELINE(DEGREE),SHUTTLECOCK POSITIION IN AIR(X ) metres,SHUTTLECOCK POSITIION IN AIR(Y) metres,SHUTTLECOCK POSITIION IN AIR(Z) metres,SHOT_ID
129,0,0,0,0,0,0.0,0.0,0.0,0
130,0,0,0,0,0,0.0,0.0,0.0,0
131,0,0,0,0,0,0.0,0.0,0.0,0
132,0,0,0,0,0,0.0,0.0,0.0,0
133,0,0,0,0,0,0.0,0.0,0.0,0
...,...,...,...,...,...,...,...,...,...
242395,0,0,0,0,0,0.0,0.0,0.0,0
242396,0,0,0,0,0,0.0,0.0,0.0,0
242397,0,0,0,0,0,0.0,0.0,0.0,0
242398,0,0,0,0,0,0.0,0.0,0.0,0
242399,0,0,0,0,0,0.0,0.0,0.0,0

The results suggest there are 112715 duplicate rows in the dataset.

In [22]:
# Drop duplicate data
print('Number of rows before discarding duplicates = %d' % (badminton2.shape[0]))
data2 = badminton2.drop_duplicates()
print('Number of rows after discarding duplicates = %d' % (data2.shape[0]))

Number of rows before discarding duplicates = 242400
Number of rows after discarding duplicates = 129685

Remove rows that are all zeros

In [23]:
data2 = data2.loc[~(data2==0).all(axis=1)]

data2

,HUMAN PLAYER POSITION (X) metres,HUMAN PLAYER POSITION (Y) metres,INITITAL VELOCITY OF SHUTTELCOCK(m/s),INITIAL SHUTTELCOCK FIRING ANGLE (DEGREE),SHUTTELCOCK SLANT ANGLE TO SIDELINE(DEGREE),SHUTTLECOCK POSITIION IN AIR(X ) metres,SHUTTLECOCK POSITIION IN AIR(Y) metres,SHUTTLECOCK POSITIION IN AIR(Z) metres,SHOT_ID
0,4,1,10,40,-50,4.076522,0.908805,2.662589,1
1,4,1,10,40,-50,4.151082,0.819947,2.725236,1
2,4,1,10,40,-50,4.227713,0.728623,2.786250,1
3,4,1,10,40,-50,4.303163,0.638705,2.845674,1
4,4,1,10,40,-50,4.376557,0.551237,2.904019,1
...,...,...,...,...,...,...,...,...,...
242235,4,4,70,70,50,9.276323,10.288077,3.041504,2423
242236,4,4,70,70,50,9.326762,10.348188,2.466079,2423
242237,4,4,70,70,50,9.373273,10.403617,1.861569,2423
242238,4,4,70,70,50,9.414002,10.452156,1.230060,2423
242239,4,4,70,70,50,9.447133,10.491641,0.572602,2423

Remove abnormal values (Value is Negative or Value = 0)

In [24]:
data2 = data2[(data2[data2.columns] >= 0).all(axis=1)]

data2

,HUMAN PLAYER POSITION (X) metres,HUMAN PLAYER POSITION (Y) metres,INITITAL VELOCITY OF SHUTTELCOCK(m/s),INITIAL SHUTTELCOCK FIRING ANGLE (DEGREE),SHUTTELCOCK SLANT ANGLE TO SIDELINE(DEGREE),SHUTTLECOCK POSITIION IN AIR(X ) metres,SHUTTLECOCK POSITIION IN AIR(Y) metres,SHUTTLECOCK POSITIION IN AIR(Z) metres,SHOT_ID
10000,4,1,10,40,0,4.074748,1.000000,2.664781,101
10001,4,1,10,40,0,4.152552,1.000000,2.727645,101
10002,4,1,10,40,0,4.225975,1.000000,2.787371,101
10003,4,1,10,40,0,4.302336,1.000000,2.847031,101
10004,4,1,10,40,0,4.377311,1.000000,2.905658,101
...,...,...,...,...,...,...,...,...,...
242235,4,4,70,70,50,9.276323,10.288077,3.041504,2423
242236,4,4,70,70,50,9.326762,10.348188,2.466079,2423
242237,4,4,70,70,50,9.373273,10.403617,1.861569,2423
242238,4,4,70,70,50,9.414002,10.452156,1.230060,2423
242239,4,4,70,70,50,9.447133,10.491641,0.572602,2423

In [25]:
# Calculate Q1, Q3, and IQR
Q1 = data2.iloc[:, 1:].groupby(data2['SHOT_ID']).quantile(0.25)  # Group by SHOT_ID
Q3 = data2.iloc[:, 1:].groupby(data2['SHOT_ID']).quantile(0.75)  # Group by SHOT_ID
IQR = Q3 - Q1

# Duplicate the original dataframe for use in the next steps
df_temp = data2.copy()

# Calculate outlier mask for each row
for shot_id in data2['SHOT_ID'].unique():
    outlier_mask = ((df_temp[df_temp['SHOT_ID'] == shot_id].iloc[:, 1:] < (Q1.loc[shot_id] - 1.5 * IQR.loc[shot_id])) | 
                    (df_temp[df_temp['SHOT_ID'] == shot_id].iloc[:, 1:] > (Q3.loc[shot_id] + 1.5 * IQR.loc[shot_id]))).any(axis=1)
    df_temp.loc[df_temp['SHOT_ID'] == shot_id, 'outlier_mask'] = outlier_mask

# Identify outlier SHOT_IDs
outlier_shot_ids = df_temp[df_temp['outlier_mask']].SHOT_ID.unique()

# Filter out outliers by SHOT_ID
df_no_outliers = df_temp[~df_temp['SHOT_ID'].isin(outlier_shot_ids)].drop(columns='outlier_mask')

# Calculate and print number of rows removed
removed_rows_outliers = data2.shape[0] - df_no_outliers.shape[0]
print(f"\nData after removing outliers: (removed {removed_rows_outliers} rows)")

# Update data2 to df_no_outliers
data2 = df_no_outliers
data2

C:\Users\xunth\AppData\Local\Temp\ipykernel_31448\1900504282.py:11: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  outlier_mask = ((df_temp[df_temp['SHOT_ID'] == shot_id].iloc[:, 1:] < (Q1.loc[shot_id] - 1.5 * IQR.loc[shot_id])) |
C:\Users\xunth\AppData\Local\Temp\ipykernel_31448\1900504282.py:12: FutureWarning: Automatic reindexing on DataFrame vs Series comparisons is deprecated and will raise ValueError in a future version. Do `left, right = left.align(right, axis=1, copy=False)` before e.g. `left == right`
  (df_temp[df_temp['SHOT_ID'] == shot_id].iloc[:, 1:] > (Q3.loc[shot_id] + 1.5 * IQR.loc[shot_id]))).any(axis=1)

Data after removing outliers: (removed 57324 rows)

,HUMAN PLAYER POSITION (X) metres,HUMAN PLAYER POSITION (Y) metres,INITITAL VELOCITY OF SHUTTELCOCK(m/s),INITIAL SHUTTELCOCK FIRING ANGLE (DEGREE),SHUTTELCOCK SLANT ANGLE TO SIDELINE(DEGREE),SHUTTLECOCK POSITIION IN AIR(X ) metres,SHUTTLECOCK POSITIION IN AIR(Y) metres,SHUTTLECOCK POSITIION IN AIR(Z) metres,SHOT_ID
171600,4,1,70,70,0,4.235412,1.000000,3.236740,1717
171601,4,1,70,70,0,4.468722,1.000000,3.836744,1717
171602,4,1,70,70,0,4.695611,1.000000,4.393727,1717
171603,4,1,70,70,0,4.913471,1.000000,4.914581,1717
171604,4,1,70,70,0,5.131322,1.000000,5.397217,1717
...,...,...,...,...,...,...,...,...,...
242235,4,4,70,70,50,9.276323,10.288077,3.041504,2423
242236,4,4,70,70,50,9.326762,10.348188,2.466079,2423
242237,4,4,70,70,50,9.373273,10.403617,1.861569,2423
242238,4,4,70,70,50,9.414002,10.452156,1.230060,2423
242239,4,4,70,70,50,9.447133,10.491641,0.572602,2423

Check data that is served out of court

In [26]:
import numpy as np

# Define court dimensions
court_length = 13.4  # in metres
court_width = 5.18  # in metres

# Initialize 'OUT_OF_COURT_SHOTS' column
data2 = data2.assign(OUT_OF_COURT_SHOTS = np.nan)

# Assign values to 'OUT_OF_COURT_SHOTS' column
data2['OUT_OF_COURT_SHOTS'] = np.where((data2['SHUTTLECOCK POSITIION IN AIR(X ) metres'] > court_length) | 
                                     (data2['SHUTTLECOCK POSITIION IN AIR(Y) metres'] > court_width), 0, 1)

# Count the number of 'IN' and 'OUT' rows
in_court = data2['OUT_OF_COURT_SHOTS'].sum()
out_of_court = data2.shape[0] - in_court

print(f"Number of 'IN' rows: {in_court}")
print(f"Number of 'OUT' rows: {out_of_court}")
data2

Number of 'IN' rows: 5809
Number of 'OUT' rows: 2351

,HUMAN PLAYER POSITION (X) metres,HUMAN PLAYER POSITION (Y) metres,INITITAL VELOCITY OF SHUTTELCOCK(m/s),INITIAL SHUTTELCOCK FIRING ANGLE (DEGREE),SHUTTELCOCK SLANT ANGLE TO SIDELINE(DEGREE),SHUTTLECOCK POSITIION IN AIR(X ) metres,SHUTTLECOCK POSITIION IN AIR(Y) metres,SHUTTLECOCK POSITIION IN AIR(Z) metres,SHOT_ID,OUT_OF_COURT_SHOTS
171600,4,1,70,70,0,4.235412,1.000000,3.236740,1717,1
171601,4,1,70,70,0,4.468722,1.000000,3.836744,1717,1
171602,4,1,70,70,0,4.695611,1.000000,4.393727,1717,1
171603,4,1,70,70,0,4.913471,1.000000,4.914581,1717,1
171604,4,1,70,70,0,5.131322,1.000000,5.397217,1717,1
...,...,...,...,...,...,...,...,...,...,...
242235,4,4,70,70,50,9.276323,10.288077,3.041504,2423,0
242236,4,4,70,70,50,9.326762,10.348188,2.466079,2423,0
242237,4,4,70,70,50,9.373273,10.403617,1.861569,2423,0
242238,4,4,70,70,50,9.414002,10.452156,1.230060,2423,0
242239,4,4,70,70,50,9.447133,10.491641,0.572602,2423,0

Re-number SHOT_ID after removed abnormal data rows

In [27]:
# Create sorted list of unique shotIds
shotIds = sorted(data2['SHOT_ID'].unique())

# Map old shotIds to new shotIds
map_dict = {old_id: new_id for new_id, old_id in enumerate(shotIds, start=1)}

# Replace old shotIds with new shotIds
data2.loc[:, 'SHOT_ID'] = data2['SHOT_ID'].replace(map_dict)

# Reorder columns
data2 = data2[['SHOT_ID', 'HUMAN PLAYER POSITION (X) metres', 'HUMAN PLAYER POSITION (Y) metres',
         'INITITAL VELOCITY OF SHUTTELCOCK(m/s)', 'INITIAL SHUTTELCOCK FIRING ANGLE (DEGREE)',
         'SHUTTELCOCK SLANT ANGLE TO SIDELINE(DEGREE)', 'SHUTTLECOCK POSITIION IN AIR(X ) metres',
         'SHUTTLECOCK POSITIION IN AIR(Y) metres', 'SHUTTLECOCK POSITIION IN AIR(Z) metres', 'OUT_OF_COURT_SHOTS']]

data2

,SHOT_ID,HUMAN PLAYER POSITION (X) metres,HUMAN PLAYER POSITION (Y) metres,INITITAL VELOCITY OF SHUTTELCOCK(m/s),INITIAL SHUTTELCOCK FIRING ANGLE (DEGREE),SHUTTELCOCK SLANT ANGLE TO SIDELINE(DEGREE),SHUTTLECOCK POSITIION IN AIR(X ) metres,SHUTTLECOCK POSITIION IN AIR(Y) metres,SHUTTLECOCK POSITIION IN AIR(Z) metres,OUT_OF_COURT_SHOTS
171600,1,4,1,70,70,0,4.235412,1.000000,3.236740,1
171601,1,4,1,70,70,0,4.468722,1.000000,3.836744,1
171602,1,4,1,70,70,0,4.695611,1.000000,4.393727,1
171603,1,4,1,70,70,0,4.913471,1.000000,4.914581,1
171604,1,4,1,70,70,0,5.131322,1.000000,5.397217,1
...,...,...,...,...,...,...,...,...,...,...
242235,204,4,4,70,70,50,9.276323,10.288077,3.041504,0
242236,204,4,4,70,70,50,9.326762,10.348188,2.466079,0
242237,204,4,4,70,70,50,9.373273,10.403617,1.861569,0
242238,204,4,4,70,70,50,9.414002,10.452156,1.230060,0
242239,204,4,4,70,70,50,9.447133,10.491641,0.572602,0

In [28]:
data2.to_csv("badmintondata2_cleaned_data.csv", index=False)